@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

body{
    font-weight: 300;
    font: 16px 'Helvetica Neue', Helvetica, Arial;
    line-height: 1.4em;
    background: #fafafa;
    color: #111111;
    /* min-width: 230px; */
    /* max-width: 550px; */
    /* margin: 0 auto; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}